@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Light.TTF') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.logosBottomRed
{
	margin-bottom: 80px;
}

.logoDiv
{
	margin-bottom: 50px;
	padding: 0px !important;
	
}

.logoImg
{

	margin: 0 auto !important;
	padding: 0px !important;
	

}

.logoTitle
{
	background-color: #1aa79e;
	color: white !important;
	text-align: center;
	height: 45px !important;
	font-family: 'Gotham-Bold', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 100px;
    line-height: 50px !important;
	
}

@media screen and (max-width: 767px) {
    
    .logoTitle {
        font-size: 28px;
        
    }

}

@media screen and (max-width: 600px) {
    
    .logoTitle {
        font-size: 23px;
        
    }

}

@media screen and (max-width: 480px) {
    
    .logoTitle {
        font-size: 20px;
        
    }

}

@media screen and (max-width: 420px) {
    
    .logoTitle {
        font-size: 17px;
        
    }

}

@media screen and (min-width: 992px) {

.mic
{
	
	margin-left: 20px !important;
}

}