@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body,
html {
    margin: 0px !important;
    padding: 0px !important;
}
@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Light.TTF') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.marginContainer {
    margin: 10px 5% 10px 5%;
}

.logoContainer {
    margin: 10px 15% 10px 15%;
}

.sectionHeadline {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 35px;
    
    color: #1aa699;
    text-transform: uppercase;
    border-bottom: 10px #1aa79e solid;
    margin-top: 100px;
}

.sectionHeadlineBottomRed {
    margin-top: -5px;
    margin-bottom: 10px;
    border-bottom: 3px #d52027 solid;
}

.mainNewsDiv {
    position: relative;
    border-radius: none;
    box-shadow: 0px 5px 5px grey;
    padding: 0px 0px 10px 0px;
    margin: 10px;
    margin-top: 70px !important;
}

.mainNewsDiv:hover
{
    cursor: pointer;
}


.newsImg {
    max-height: 40%;
}

.newsImgOne{
    width:100%;
}

.mainNewsDivOne {
    position: relative;
    background-color: white;
    border-radius: none;
    box-shadow: 0px 5px 5px grey;
    padding: 0px 0px 30px 0px;
    margin: 50px 0px;
}

.newsMainDate {
    text-transform: uppercase;
    position: absolute;
    background-color: #1aa79e;
    font-size: 30px;
    width: 110px;
    height: 110px;
    color: white;
    text-align: center;
    padding: 2px;
    top: 62%;
    left: 40px;
    font-family: 'Merriweather', serif;
}

.newsMainDateOne {
    text-transform: uppercase;
    position: absolute;
    background-color: #1aa79e;
    font-size: 30px;
    width: 120px;
    height: 120px;
    color: white;
    text-align: center;
    padding: 2px;
    top: 75%;
    left: 40px;
    font-family: 'Merriweather', serif;
}


.newsDayMargin {
    margin-bottom: -10px;
    font-size: 44px;
}

.newsMonth {
    font-size: 24px;
}

.newsArticleHeader {
    font-family: 'Merriweather', serif;
    font-size: 19px;
    color: #333131;
    padding-left: 170px;
    padding-right: 10px;
    padding-top: 20px;
}

.newsArticleHeaderOne {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    color: #333131;
    padding-left: 170px;
    padding-right: 10px;
    padding-top: 20px;
}

.newsArticleText {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: grey;
    padding-left: 5%;
}

.newsArticleTextOne {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: black;
    padding-left: 60px;
}

.newsMoreDiv {
    margin: 10px 0% 10px 10%;
    text-align: right;
}

.newsMoreText {
    color: #1aa79e;
    font-size: 20px;
    text-decoration: none!important;
}

.newsMoreText:hover
{
    cursor: pointer;
}

.aboutProjectRowMargin {
    margin-bottom: 5%;
    margin-top: 5%;
}

.aboutProjectImg {
    width: 100%;
    border: 12px solid grey;
    margin-top: 20px;
    vertical-align: middle;
}

.marginRight30 {
    margin-right: 40px;
    display: block;
    margin: auto;
}

.marginLeft30 {
    margin-left: 40px;
    display: block;
    margin: auto;
}

.justifyText {
    text-align: justify;
    margin-top: 10px;
}

.aboutProjectTextHeader {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    color: grey;
}

.aboutProjectTextTop {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: grey;
}

.aboutProjectTextBottom {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: grey;
    margin-top: 30px;
}

.aboutProjectBottomRed {
    border-bottom: 1px #d52027 solid;
    width: 90%;
}

.scheduleTba {
    font-size: 150px;
    color: #1aa699;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutProjectImgDiv {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    height: 100%;
}

.textAlignCenter {
    text-align: center;
}

@media screen and (max-width: 767px) {
    .marginContainer {
        margin: 10px 3% 10px 3%;
    }
    .sectionHeadline {
        font-size: 28px;
        border-bottom: 8px #1aa699 solid;
    }
    .newsMainDate {
        font-size: 20px;
        width: 60px;
        height: 60px;
        padding: 5px;
        top: 45%;
        left: 20px;
    }
    .newsMainDateOne {
        font-size: 20px;
        width: 60px;
        height: 60px;
        padding: 5px;
        top: 10%;
        left: 20px;
    }
    .newsArticleHeader {
        font-size: 16px;
        margin-top: 35px;
        padding: 5px;
    }
    .newsArticleHeaderOne {
        font-size: 16px;
        margin-top: 35px;
        padding: 5px;
    }
    .newsArticleText {
        font-size: 14px;
        padding: 5px;
    }
    .newsArticleTextOne {
        font-size: 11px;
        padding: 5px;
    }
    .newsMoreDiv {
        margin: 10px 0% 10px 5%;
    }
    .newsMoreText {
        font-size: 18px;
    }
    .aboutProjectTextHeader {
        font-size: 28px;
    }
    .aboutProjectTextTop {
        font-size: 14px;
    }
    .aboutProjectTextBottom {
        font-size: 14px;
        margin-top: 15px;
    }
    .newsDayMargin {
        margin-bottom: 0px;
        font-size: 18px;
    }
    .scheduleTba {
        font-size: 50px;
    }
}

  .carousel-inner > .item > .citat {
      width: 70%;
      margin: auto;
      font-family: 'Merriweather';
      font-size: 21px;
      color: #333131;
      font-style: italic;
      font-weight: bold;
      text-align: left;
  }

  .carousel-inner > .item > .citat > .ime-Osobe {
      color:#d52027;
      text-align: right;
  }


  
#myCarousel > .carousel-control{
    
    background:transparent;
}

/*Boja strelice se ne prikazuje zbog opacity-a parenta, ne znam kako popraviti*/
  #myCarousel > .carousel-control > .glyphicon{
      position: absolute;
      z-index: 50;
      color: #d52027;
}

.mainNavbar
{
    
    border-radius: 0px !important;
    background: #1AA79E;
    border: 0px;
    margin-bottom: 0px;
    box-shadow: none !important;
    z-index: 1000 !important;
}

.mainNavbar .navbar-toggle
{
    margin-bottom: 50px;
}

.navbarList2
{
     margin-bottom: 25px !important;
}


.mainNavbar1
{
    background-color: transparent !important;
    background: #1AA79E;
    height: 100px;
}

.mainNavbar2
{
    background-color: #1AA79E !important;
    height: 115px;
    z-index: 1000;
}

.mainNavbar .navbar-toggle {
    margin-top: 30px;
    
    width: 50px;
}

.mainNavbar1 .navbar-toggle
{
    margin-bottom: 50px;
}

.mainNavbar2 .navbar-toggle
{
    margin-bottom: 31px;   

}

.mainNavbar2 .navbar-collapse
{
    border: none !important;
}

.mainNavbar .navbar-toggle .icon-bar {
    background-color: white;
    margin-left: -7px;
}

.secondNavbar {
    background: white !important;
    border-radius: 0px !important;
    border: 0px;
    margin-bottom: 0px;
    height: 105px !important;
    box-shadow: none !important;
    padding-bottom: 0px !important;
    border-bottom: 1px solid rgb(200, 200, 200);
    
}

.secondNavbar .navbar-toggle {
    border-color: #1AA79E !important;
}

.secondNavbar .navbar-toggle .icon-bar {
    background-color: #1AA79E !important;

}



.logo-img
{
    width: 160px !important;
    margin-left: 5%;
    position: absolute;
    
}

.second-logo-img
{
    position: absolute;
    width: 130px !important;
    margin-left: 5%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;

}

@media only screen and (max-width: 400px) {

.logo-img
{
    width: 120px !important;
    margin-left: 5%;
}

.second-logo-img
{
    width: 95px !important;
    margin-left: 5%;
    
}



.mainNavbar .navbar-toggle
{
    margin-top: 25px;
    width: 30px;
    height: 35px;
    padding-top: 10px;
}

.mainNavbar .navbar-toggle .icon-bar 
{
    background-color: white;
    margin-left: -12px;
    
}

.affix-top .navbar-toggle
{
    margin-top: 30px;
    width: 30px;
    height: 35px;
    padding-top: 10px;
}

.secondNavbar .navbar-toggle .icon-bar
{
    margin-left: -12px;

}

.affix .navbar-toggle
{
    margin-top: 30px;
    width: 30px;
    height: 35px;
    padding-top: 10px;
}

.logo-img {
    width: 160px !important;
    margin-left: 30%;
}

.second-logo-img {
    width: 130px !important;
    margin-left: 33%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

@media only screen and (max-width: 400px) {}
    .logo-img {
        width: 120px !important;
        margin-left: 5%;
    }
    .second-logo-img {
        width: 95px !important;
        margin-left: 5%;
    }
    .mainNavbar .navbar-toggle {
        margin-top: 25px;
        width: 30px;
        height: 35px;
        padding-top: 10px;
    }
    .mainNavbar .navbar-toggle .icon-bar {
        background-color: white;
        margin-left: -12px;
    }
    .affix-top .navbar-toggle {
        margin-top: 30px;
        width: 30px;
        height: 35px;
        padding-top: 10px;
    }
    .secondNavbar .navbar-toggle .icon-bar {
        margin-left: -12px;
    }
    .affix .navbar-toggle {
        margin-top: 30px;
        width: 30px;
        height: 35px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 400px) {

.affix-top .navbar-toggle
{
    margin-top: 30px;
    width: 30px;
    height: 35px;
    padding-top: 10px;
}

.affix-top .navbar-toggle .icon-bar
{
    margin-left: -12px;

}

.affix .navbar-toggle .icon-bar
{
    margin-left: -12px;
}

.affix .navbar-toggle
{
    margin-top: 30px;
    width: 30px;
    height: 35px;
    padding-top: 10px;
}

.logo-img
{
    width: 160px !important;
    margin-left: 5%;
}

.second-logo-img
{
    width: 110px !important;
    margin-left: 5%;
    
}

    .affix-top .navbar-toggle {
        margin-top: 30px;
        width: 30px;
        height: 35px;
        padding-top: 10px;
    }
    .affix-top .navbar-toggle .icon-bar {
        margin-left: -12px;
    }
    .affix .navbar-toggle .icon-bar {
        margin-left: -12px;
    }
    .affix .navbar-toggle {
        margin-top: 30px;
        width: 30px;
        height: 35px;
        padding-top: 10px;
    }
    
    .second-logo-img {
        width: 110px !important;
        margin-left: 5%;
    }
}

.navbarList>li>a {
    text-transform: none;
    color: white !important;
    font-size: 19px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-top: 15px;

    /*margin-right: 10px !important;*/ 


}




.secondNavbarList {
    background-color: white !important;
    position: absolute;
    margin-left: 15%;
    
}



@media only screen and (max-width: 1100px) {

    .secondNavbarList
    {
        width: 100% !important;
        margin-left: -5% !important;

    }

   

    .mainNavbar2 .navbar-collapse
    {
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        background-color: #1AA79E !important;
        padding-bottom: 20px;

    }



    }

.secondNavbarList>li>a {
    text-transform: uppercase;
    color: gray !important;
    font-size: 12pt !important;
}

.navbarList>li>a:hover,
.navbarList>li>a:focus {
    background-color: transparent !important;
    color: white;
}

.navbarList>li:hover {
    border-bottom: 6px solid white !important;
}

.secondNavbarList>li>a:hover,
.secondNavbarList>li>a:focus {
    background-color: transparent !important;
    color: #1AA79E !important;
}

.secondNavbarList>li:hover {
    border-bottom: 2px solid #1AA79E !important;
}

.title {
    background: url("../img/cover-ssa.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
    margin: -100px 0 0 0 !important;
    padding: 0px;
    background-color: #1AA79E;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.title-text {
    padding: 0;
    margin-top: 450px;
    margin-left: 90px;
}

@media only screen and (max-width: 1100px) {
    .title-text
    {
        margin-left: 0px;
        margin-top: 480px;
    }

}

@media only screen and (min-width: 1500px) {
    .title
    {
        height: 1000px;
    }

}

.title-text-one {
    border-bottom: 1px solid white;
    padding: 0;
}

.title-text-one > p
{
    font-family: 'Merriweather';
    font-size: 13pt;
    color: white;
}

.title-text-two> p
{
    font-family: 'Gotham-Light';
    font-size: 23pt;
    color: white;
    text-transform: uppercase;
    
}

.title-text-three> p
{
    font-family: 'Gotham-Light';
    font-size: 19pt;
    color: white;
    
}

.affix {
  top: 0;
  width: 100%;
  z-index: 1000;
  /*background-color: gray !important;*/

}

.affix-top {
  width: 100%;
    top: 0;
    z-index: 1000;
    /*background-color: gray !important;*/
}



.affix-bottom {
    position: absolute;
    width: 100%;
}

.affix .secondNavbarList li {
    margin-top: 30px;
}

.affix .secondNavbarList li
{
    margin-top: 30px;
}

.affix-top .secondNavbarList li
{
    margin-top: 30px;
}

.image {
    margin: 0 auto !important;
}

.onama-title-text
{
    font-family: 'Merriaweather';
    font-size: 16pt;
    text-align: center;
    color: #d52027;


}


.onama-paragraph-text {
    font-family: 'Roboto';
    font-size: 12pt;
    margin-top: 20px;
    text-align: justify;
    color: rgb(100, 100, 100);
}

.timelineBackground {
    background-color: rgb(237, 237, 237);
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 80px;
}

.timelineImage {
    margin: 0 auto !important;
    padding: 50px;

}

@media only screen and (max-width: 1000px) {

    .timelineImage
    {
        padding: 0px;

    }

    }

.footer {
    background-color: rgb(50, 50, 50);
    margin-top: 100px;
    padding-top: 20px;
}

@media only screen and (min-width: 1000px) {
    .socialMedia {
        margin-left: 40px;
    }



}

@media only screen and (max-width: 1000px) {

    .socialWrapper {
       margin-left: 200px auto !important;
}

}

.socialMedia {
    margin-bottom: 120px;
}

.socialWrapper {
    margin: auto !important;
}

.socialImage {
    width: 70px;

    display: inline-block;

}

.footerNaslov {
    border-bottom: 1px solid white;
    margin-bottom: 5%;
}

.footerNaslov>p {
    text-transform: uppercase;
    color: white;
    font-family: 'Gotham-Light';
    font-size: 14pt;
}

.kontaktIme,
.kontaktPozicija {
    color: white;
    font-family: 'Roboto';
}

.kontaktIme, .subFooter-wrapper > p
{
    font-weight: bold;
    font-size: 12pt;
}

.subFooter-wrapper > p
{
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-weight: bold;
    font-size: 12pt;
}

.subFooter-wrapper>p {
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.kontaktPozicija {
    font-size: 10pt;
}

.prvaKontakt {
    margin-bottom: 30px;
}

.socialWrapper a:hover {
    cursor: pointer;
}

.subFooter
{
    background-color: rgb(20,20,20);
    border-radius: none;
}


.navbarList > li
{
    font-family: 'Gotham-Light';

}

.secondNavbarList > li
{
    font-family: 'Gotham-Light';
}

.subFooter {
    background-color: rgb(20, 20, 20);
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbarList>li {
    font-family: 'Gotham-Light';
}

.secondNavbarList>li {
    font-family: 'Gotham-Light';

}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #1AA79E;
    
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #1AA79E;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


@media only screen and (max-width: 950px) {
    #return-to-top
    {
        display: none !important;
    }
}

.prijavaSlika
{
    margin-bottom: 5px !important;
    margin-top: 170px !important;
    padding: 0px !important;
    margin: 0 auto;
    width: 300px;
    
}

.prijavaTekst, .prijavaTekst2
{
    color: white;
    font-family: 'Gotham-Light';
    font-weight: bold;
    margin: 0 auto !important;
    padding: 0px !important;
    text-align: center;
    
}

.prijavaTekst2
{
    font-size: 16px;
}

.prijavaSlika
{
    padding-bottom: 45px !important;
}

@media only screen and (max-width: 950px) {
    .prijavaSlika
    {
        margin-top: 220px !important;
    }
}

@media only screen and (min-width: 1170px) {
    
        .prijavaTekst
        {
            display: none;
        }

        .prijavaSlika
        {
            margin-top: 18vh !important;
        }
    }


@media only screen and (max-width: 1170px) {

    .timerDiv, .prijavaTekst2
    {
        display: none;
    }



}



.timerBroj, .timerDvotacka
{
    font-size: 53px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    line-height: 30px;
    margin-top: 30px;
}

.timerBroj
{

}

.timerTekst
{
    font-size: 12px;
    padding: 0px;
    font-family: 'Roboto';

}

.timerBroj, .timerDvotacka
{
    text-align: center;
    color: white;
    font-family: 'Roboto';
    vertical-align: top;

}

.proba
{
    text-align: center;
}


@media screen and (max-width: 991px) {

.clanakText
{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 50px;
}

.clanakText2
{
    padding-left: 45px;
    padding-right: 45px;
    margin-top: -40px;
}


}


@media screen and (min-width: 991px) {
.clanakText2
{
    padding-left: 120px;
    padding-right: 120px;
    margin-top: -45px;
}

}

.raspImage
{
    margin-top: 100px;
}



