<!--<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta property="og:type" content="website">
      <meta property="og:title" content="Soft Skills Academy Sarajevo '17" />
      <meta property="og:description" content="Soft Skills Academy Sarajevo - Besplatna trodnevna radionica ličnih i profesionalnih vještina za studente svih fakulteta u Sarajevu" />
      <meta property="og:image" content="img/greenLogo.png" />
      <meta property="og:url" content="." />
    <title>Soft Skills Academy Sarajevo '17</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
    <script src="js/jquery.redirect.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

     Za Carousel 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png"/>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/script.js"></script>
    <script src="js/scroll.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

</head> 
<body>-->
    <div class="marginContainer drugiONama-cont">
        <div class="container-fluid">
            <p class="sectionHeadline"><b>Drugi o nama</b></p>
            <p class="sectionHeadlineBottomRed"></p>

            <div class="container-citat">
    <br>
    <div id="myCarousel" class="carousel carouselCitati slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="citat">
                I ranije sam prisustvovala različitim radionicama sličnog tipa ali se jedino Soft Skills Academy pokazala kao zaista sveobuhvatna jer podrazumijeva susret učesnika sa svim oblastima koje ih pripremaju za izlazak na tržište rada. Cjelokupna atmosfera tokom realizacije SSA je nevjerovatna a održavaju je stručni organizatori, kvalifikovani predavači i učesnici željni novih znanja. U konačnici, najbolje iskustvo predstavljaju ostvarena poznanstva i ideja o važnosti cjeloživotnog učenja koja se rodi u svakom od učesnika SSA.
                <p class="ime-Osobe"> Naida Hodžić </p> 
            </div>
        </div>

        <div class="item">
            <div class="citat">
                Odlična prilika za sve studente da razviju svoje vještine, ali i da kroz druženje sa studentima različitih univerziteta, prošire svoju mrežu poznanstva i ostvare dragocjena prijateljstva.
                Magična atmosfera uz izvanredan tim mladih ljudi, ostavlja posebnu draž kod svakog učesnika ponaosob, a rezultat akademije je itekako zavidan.            
                <p class="ime-Osobe"> Faruk Ćidić </p>
            </div> 
        </div>
        
        <div class="item">
            <div class="citat">
                Soft Skills Academy mi je pružio priliku da upoznam nevjerovatne ljude, naučim korisne stvari kroz interaktivna predavanja i zabavim se sa ljudima iz čitave regije.            
                <div class="ime-Osobe"> Adi Arnautović </div>
            </div>
        </div>  

        <div class="item">
            <div class="citat"> 
                Mislim da je Soft Skills Akademija odlično mjesto za sticanje vještina potrebnih u profesionalnom usavršavanju. Lideri, projektni menadžeri, marketari, su jedni od veoma traženih ljudi u današnjem poslovnom svijetu. Ono što sam naučio kroz Soft Skills Akademiju već dvije godine uspješno koristim u radu kako u nevladinom sektoru, tako i u svim drugim  društvenim i poslovnim krugovima u kojima djelujem.
                <div class="ime-Osobe"> Nijaz Ćehaja </div> 
            </div>
        </div>

        <div class="item">
            <div class="citat"> 
                SSA je odlična prilika za upoznati mlade, ambiciozne ljude i zajedno sa njima raditi na usavršavanju ličnih vještina. Savjeti i preporuke koje smo dobili od trenera SSA bili su itekako korisni, a kroz interkativne radionice imali smo priliku odmah i primijeniti iste. Opuštena atmosfera je također doprinijela da u kratkom periodu naučimo mnogo toga što će nam koristiti u daljnjem životu.
                <div class="ime-Osobe"> Amina Talić </div>
            </div>
        </div>

        <div class="item">
            <div class="citat"> 
                Trodnevna radionica za pamćenje. Jedno nezaboravno iskustvo, ali isto tako i certifikat koji će svima nama koji smo učestvovali obogatiti CV. Svi koji žele da nauče stvari koje nisu u našoj svakodnevnici, odmah se prijavite na SSA! Vještine neophodne za izgradnju naše karijere je ono što nudi ova radionica, te pored toga jedno divno druženje sa mladim ljudima. 
                <div class="ime-Osobe"> Azra Kevrić </div> 
            </div>
        </div>

        <div class="item">
            <div class="citat"> 
                Tokom SSA sam shvatio šta znači neformalno učenje i kako soft vještine polahko postaju neizostavni dio svakog poslovnog čovjeka.
                <div class="ime-Osobe"> Semir Salkić </div>
            </div>
        </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control"  href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </div>
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

     <p class="sectionHeadlineBottomRed" style='padding-bottom:15px;' ></p>
        </div>

       
    </div>
<!--</body>-->



