<section class="container-fluid marginContainer novosti-cont">
    <p class="sectionHeadline"><b>novosti</b></p>
    <p class="sectionHeadlineBottomRed"></p>
    <div class="row">
        <div class="col-md-6">
            <div class="mainNewsDiv">
                <div>
                    <img class="img-responsive newsImg" src="img/proba.jpg" />
                </div>
                <div class="newsMainDate">
                    <p class="newsDayMargin">14</p>
                    <p>Dec</p>
                </div>
                <div>
                    <p class="newsArticleHeader">Grupe participanata za soft skills academy Sarajevo</p>
                    <p class="newsArticleText">Objavljen je spisak grupa participanata za ovogodisnji Soft Skills Academy Sarajevo ...</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mainNewsDiv">
                <div>
                    <img class="img-responsive newsImg" src="img/proba.jpg" />
                </div>
                <div class="newsMainDate">
                    <p class="newsDayMargin">14</p>
                    <p>Dec</p>
                </div>
                <div>
                    <p class="newsArticleHeader">Grupe participanata za soft skills academy Sarajevo</p>
                    <p class="newsArticleText">Objavljen je spisak grupa participanata za ovogodisnji Soft Skills Academy Sarajevo ...</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mainNewsDiv">
                <div>
                    <img class="img-responsive newsImg" src="img/proba.jpg" />
                </div>
                <div class="newsMainDate">
                    <p class="newsDayMargin">14</p>
                    <p>Dec</p>
                </div>
                <div>
                    <p class="newsArticleHeader">Grupe participanata za soft skills academy Sarajevo</p>
                    <p class="newsArticleText">Objavljen je spisak grupa participanata za ovogodisnji Soft Skills Academy Sarajevo ...</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mainNewsDiv">
                <div>
                    <img class="img-responsive newsImg" src="img/proba.jpg" />
                </div>
                <div class="newsMainDate">
                    <p class="newsDayMargin">14</p>
                    <p>Dec</p>
                </div>
                <div>
                    <p class="newsArticleHeader">Grupe participanata za soft skills academy Sarajevo</p>
                    <p class="newsArticleText">Objavljen je spisak grupa participanata za ovogodisnji Soft Skills Academy Sarajevo ...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid newsMoreDiv">
        <p><a class="newsMoreText">Više novosti...</a></p>
    </div>
    <script>
        $(function() {
            $(window).resize(function() {
                responsiveDateDiv();
            });

            var responsiveDateDiv = function() {
                var imgHeight = $($(".newsImg")[0]).height();
                if (imgHeight != 0) {
                    $.each($(".newsMainDate"), function(index, value) {
                        if ($(window).width() > 768) {
                            $(value).css("top", (imgHeight - 80) + "px");
                        } else {
                            $(value).css("top", (imgHeight - 35) + "px");
                        }
                    });
                }
            };
            responsiveDateDiv();
        });
    </script>
</section>