<section class="container-fluid marginContainer oprojektu-cont">
    <p class="sectionHeadline"><b>o projektu</b></p>
    <p class="sectionHeadlineBottomRed"></p>
    <div class="row aboutProjectRowMargin">
        <div class="col-md-5 aboutProjectImgDiv">
            <div class="marginRight30">
                <img class="img-responsive aboutProjectImg" src="img/proba1.jpg" />
            </div>
        </div>
        <div class="col-md-7 justifyText">
            <p class="aboutProjectTextHeader">Šta je SSA?</p>
            <p class="aboutProjectBottomRed"></p>
            <p class="aboutProjectTextTop">
                Soft Skills Academy Sarajevo je besplatna trodnevna radionica ličnih i profesionalnih vještina za studente svih fakulteta u Sarajevu, koja podstiče studente na razvoj neformalnih vještina neophodnih za zapošljavanje i uspješnu karijeru, ali i za izazove modernog života, koje tradicionalan način studiranja ne može obezbijediti. Ovogodišnji SSA se održava u periodu od 10 - 12. 03. 2017. godine u prostorijama Academy387 Sarajevo.

            </p>
            <p class="aboutProjectTextBottom">
                40 najambicioznijih studenata svih fakulteta u Sarajevu učestvovat će u treninzima kao što su prezentacijske vještine, liderstvo, motivacija i mnogi drugi na kojima će steći veoma važne vještine koje će im pomoći u daljem školovanju i poslovnom životu.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 justifyText">
            <p class="aboutProjectTextHeader">Treninzi</p>
            <p class="aboutProjectBottomRed"></p>
            <p class="aboutProjectTextTop">
                Treninge će držati certificirani soft skills treneri. Po završetku radionice učesnici dobijaju certifikat i CV dodatak potpisan od strane Organizacionog odbora i odgovornih trenera, koji će moći priložiti uz CV prilikom zapošljavanja.
            </p>
            <p class="aboutProjectTextBottom">
                Usavršavanjem ovih vještina, neophodnih za uspješno i efikasno bavljenje različitim poslovima, učesnici koji budu prisustvovali radionici će steći prednost nad konkurencijom i zasigurno obezbijediti sebi kvalitetan posao. Osim toga, steći će vještine koje ne posjeduju, ali i razviti one koje su im nedovoljno razvijene, što će pozitivno utjecati na njihovu samosvjesnost i samopouzdanje. 
            </p>
        </div>
        <div class="col-md-5 aboutProjectImgDiv">
            <div class="marginLeft30">
                <img class="img-responsive aboutProjectImg" src="img/proba2.jpg" />
            </div>
        </div>
    </div>
</section>