<div class="title">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
				<a href="prijava.php"><img class="img-responsive prijavaSlika" src="./img/prijaviSe.png"></a>
				<p class="prijavaTekst">Prijave se zatvaraju 23.02</p>
			</div>
	        <div class="title-text ">
	        <div class="title-text-one">
	            <p>Besplatna trodnevna radionica ličnih i profesionalnih vještina</p>
	        </div>
	        <div class="title-text-two">
	            <p>Soft skills academy Sarajevo</p>
	        </div>
	        <div class="title-text-three">
	            <p>10-12. mart 2017. godine</p>
	        </div>
	        </div>

	        
		</div>
	</div>
</div>
